{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>Musu MoTo</h1>
<div class="spike" style="--rotate: 1; --dail-size: 1;"></div>
<p>&raquo; Sveiki atvyke i MoToMaNiA!!! &laquo;</p>
<ul>
    <li>Gamintojai: {{ num_gamintojas_t }}</li>
    <li>Modeliai: {{ num_modelis_t }}</li>
    <li>Turimi modeliai: {{ num_instances_available_t }}</li>
    <li>Likutis: {{ num_instances_t }}</li>
</ul>
<h4>Sveiki, {{ username_t }}</h4>
<p>Jus lankotes {{ num_visits_t }} karta</p>




{% endblock %}