/* Your CSS styles here */ 
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

body {
   background-color: #d2e858;
}
<head>
  <link rel="stylesheet" href="style.css">
</head>